body{
    background-color:  #3584bb;
}

div{
    text-align: center;
}

a{
    color: red;
}

.a{
    color: rgba(255, 255, 255, 0.76);
}

.mei{
   display: flex;
   justify-content: center; 
   align-items: center;
}

.name,.syou,.setu,.sisetu,.renraku{
    font-weight: 1000;
    color: white;
}

button{
    background-color: red;
    color: white;
}
